@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #ffffff;
  --primary: #000000;
}

body {
  background: var(--background);
  color: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

h2{
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
}