@import "tailwindcss";


:root {
  --background: #f5f7f9;
  --foreground: #ffffff;
  --primary: #000000;
  
}

body {
  background: var(--background);
  color: var(--primary);
  font-family: Arial, Helvetica, sans-serif;
}

h1{
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
}

h2{
  font-size: 18px;
  line-height: 32px;
  font-weight: 500;
}

.radix-themes {
  min-height: 0 !important;
}

.sidebar-item {
  transition: background-color 160ms ease, color 160ms ease;
  border: 1px solid transparent;
  border-color: #007a9500;
  border-radius: 0.75rem;
}

.sidebar-item:hover {
  transition: all 0.2s ease-in-out;
  border: 1px solid transparent;
  border-color: #007a958d;
}

.sidebar-item.active {
  color: var(--foreground);
  background-color: rgba(0, 0, 0, 0.08);
}